body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  padding: 2rem;
  margin: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  max-width: 400px;
  border-radius: 10px;
  display: square;
  margin: 0 auto 1.5rem auto;
}

.research-pic {
  max-width: 525px;
  border-radius: 10px;
  display: square;
  margin: 0 auto 1.5rem auto;
}

h1, h2, h3 {
  margin-top: 2rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
